.venv/
specs/
tmp/
.mypy_cache
.ruff_cache
.vscode
.workspace
logs/
sim_data/
__pycache__
*.py[cod]
.DS_STORE     
.cache
*.egg-info/
**/.secrets.json
**/.env

# Infrastructure temporary files
**/infra/**/.tmp/

# direnv
.envrc
.direnv/
