.venv/
specs/
tmp/
.mypy_cache
.ruff_cache
.vscode
.idea
.workspace
logs/
sim_data/
__pycache__
*.py[cod]
.DS_STORE
.cache
*.egg-info/
**/.secrets.json
**/.env
mock_data/test_large_job.zip

# Infrastructure temporary files
**/infra/**/.tmp/

# direnv
.envrc
.direnv/


# notes
**/tasks.md
**/checklist.md
**/requirements.md

apps/ingestion/src/tasks.md
